<h1>Welcome to TimeLine!</h1>
<p>TimeLine is for young students that want to have a good time without having to bust their wallet.</p>
<div class="wrapper">
  <div class="left">
    <%= link_to "What is this?", about_path, :class => "round button",
      :id => "about" %>
  </div>
  <div class="right">
    <%= link_to "Sign me up!", signup_path, :class => "round button",
      :id => "signup" %>
  </div>
</div>