<h1>Welcome to TimeLine!</h1>
<p>Our website is for young people that want to have a good time without having to bust their wallet.</p>
<!-- <b>Our philosophy is...</b>
<p>We believe in the <i>work hard, and play hard</i> philosophy. If you are a hard worker, you need to be equally as hard player in order to balance out your awesome life. And that's where we come in...</p>
<b>"...don't let money get in the way of having a good time..."</b>
<p>Too often we've seen people that give up on planning a fun night out because it costs too much and it's too much work.</p>
<p>Movies, bars, it's all been done before. You are tired of doing the same thing over and over, and frankly, you want to do something new. But doing something new means you are stepping into the unknown; it means more planning (than you are often willing to) and it can cost a lot of money; money you may not have right now to spend.</p>
<b>Still here?</b>
  <p>Good. If you are curious as to how we can fix this problem of yours, you'd better...</p> -->
<div class="wrapper">
  <div class="left">
    <%= link_to "What is this?", about_path, :class => "round button",
      :id => "about" %>
  </div>
  <div class="right">
    <%= link_to "Sign me up!", signup_path, :class => "round button",
      :id => "signup" %>
  </div>
</div>