<h1>Timeline is your best tool to find out local events that are happening around you.</h1>
<b>A typical scenario</b>
<p>
It's Friday night, you are free and so are your friends. You guys decided to do something together. Everyone gets excited. But then someone asks the question, <i>"So... what should we do?"</i>. There's a bit of silence and someone comes up with a few suggestions...
</p>
<p>
  But you've heard it all before, and done it all before. After discussing it for a few minutes, you and your friends decide to go watch a movie. The night turns out okay, but it feels like it could be better...
</p>
<b>A better way</b>
<p>
  Want to try something new? Do you want to find out what local events you are missing out on? We can help. Use Timeline to search for events that are happening around you. Filter your searches based on your interests. Find out what you've been missing.
</p>