<h1>TimeLine is like having a cool friend that constantly tells you about interesting events.</h1>
<h3>A typical scenario</h3>
<p>
It's Friday night, you are free and so are your friends. You guys decided to do something together. Everyone gets excited. But then someone asks the question, <i>"So... what should we do?"</i>. There is a long pause and someone finally comes up a suggestion but you've heard it and done it before. After discussing for few more minutes, you and your friends decide to go watch a movie. The night turns out okay, but it feels like it could be better.
</p>
<h3>The better way</h3>
<p>
Do you want to try something new? What local events are you currently missing out on? We can help. Use TimeLine to search for events that are happening around you. Filter your searches based on your interests. Find out what you've been missing.
</p>
<h1>Who are we?</h1>
<p>
  We are both students from University of Waterloo, currently enrolled in Management Engineering, scheduled to graduate in April 2012. This website got started when we decided to do something different for our work term. We wanted to be our own bosses, we wanted to live by our own schedule, but most importantly, we wanted to do something cool. We got together and started a project called <i>TimeLine</i>. This is our work.
</p>
<div class="profile_container">
  <div class="picture_left">
    <h3>Pativet Sathiensamrit</h3>
    <%= light %>
  </div>
  <div class="content">
    <p>"I have always wanted to figure out how I can do the same tasks in different ways, and particularly, finding the best way. This is why the idea of TimeLine appealed to me, given there are so many others out there doing websites about events."</p>
    <p>"When I am not coding I like to sing and do graphics design, and I have most of time been in charge of the graphics design aspect of team projects as well as posters for clubs and organizations that I am involved in."</p>
  </div>
</div>

<div class="profile_container">
  <div class="picture_right">
    <h3>Joonha Shin</h3>
    <%= joonha %>
  </div>
  <div class="content">
    "TimeLine is something that I want for myself. I love going out with my friends and often we have the hardest time deciding what we want to do or where we want to go. I wished there was a website or some tool that would help me what cool stuff was happening around me. That way, I can use it to show my friends and we can decide what we want to do that much quicker, instead of sitting around and discussing about it for half an hour only to come up with a same old solution, like going to the movies."
  </div>
</div>