<h1>Who are we?</h1>
<p>
  We are an awesome group of people from University of Waterloo. 
  We are both in Management Engineering. Our names are the following:
</p>
<ul>
  <li>Pativet Sathiensamrit (Co-CEO)</li>
  <li>Joonha Shin (Co-CEO)</li>
</ul>
<p>Want to know more about us? Fill out a form below!</p>
<%= render 'form' %>