<h1>We'd love to talk to you</h1>
<b>Who are we?</b>
<p>
  We are an awesome group of people from University of Waterloo. 
We are both enrolled in Management Engineering, scheduled to graduate in April 2012. This website got started when we decided to do something different for our work term. We wanted to be our own bosses, we wanted to live by our own schedule, but most importantly, we wanted to do something cool. We got together and started a project called <i>Timeline</i>. This is our work.
</p>
<b>Pativet Sathiensamrit</b>
<div class="profile_pic">
  <%= light %>About Light...
</div>

<b>Joonha Shin</b>
<div class="profile_pic">
  <%= joonha %>About Joonha...
</div>